

.container{
    display: flex;
    height: 300px;
    background-color: #f0f0f0;
    flex-wrap: wrap;
}

.item{
    background-color: #6f42c1;
    color: white;
    padding: 20px;
    margin: 5px;
    flex: 1 0 45%;
}

.align-content{
    align-content: space-evenly; /*Options: flex-start, center, flex-end, space-between, space-around, space-evenly*/
}