body {
  margin: 0;
  padding: 0;
  background: #00b894;
}

.road {
  margin: 0 auto;
  height: 100vh;
  width: 600px;
  background-color: #636e72;
  position: relative;
  overflow: hidden;
}

.bars {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  animation: moveLines 2s linear infinite;
}

.bars div {
  position: absolute;
  height: 50px;
  width: 15px;
  background-color: white;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bars div:nth-child(1) {top:0;}
.bars div:nth-child(2) {top:150px;}
.bars div:nth-child(3) {top:300px;}
.bars div:nth-child(4) {top:450px;}
.bars div:nth-child(5) {top:600px;}
.bars div:nth-child(6) {top:750px;}


.car {
  position: absolute;
  width: 100px;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  animation: moveCar 3s linear infinite;
}

@keyframes moveLines {
  0%{
    top: 0;
  }
  100%{
    top: -150px;
  }
}

@keyframes moveCar {
  0%{
    top: -100px;
  }
  100%{
    top: 100%;
  }
}


@keyframes identifier {
  0%{
    
  }
  
}